<div class="container">

  <div class="row mt-3">
    <p class="display-1 mx-auto text-center">About</p>
  </div>

  <div class="row  d-block mt-3">
    <p class="lead mx-auto text-center">このサイトは、自分に似合う、好みのネイルデザインを探すことができます。</br>
    また、会員登録をするとネイルデザインの写真を投稿したり、</br>
    他の投稿をお気に入りとして保存することもできます。</br>
    </p>
    <div class="mx-auto text-center">
      ネイルをしてみたいけど、自分に似合う色がわからない…</br>
      セルフネイルが上手にできたのでみんなと共有したい！</br>
      流行りのネイルデザインを知りたい！</br>
    </div>
    <p class="lead mx-auto text-center">そんな方にオススメのサイトです。</p>
    <div class="shadow w-50 p-2 mx-auto bg-light text-center">ぜひ、あなたのお気に入りのデザインを見つけて</br>
      ネイルを楽しみましょう！
    </div>
  </div>

</div>