<main>
  <section class="container py-5 text-center">
    <div class="row mt-5">
      <p class="display-3 mx-auto">About</p>
    </div>
    <div class="col d-block mb-5">
      <p class="lead mx-auto">このサイトは自分に似合う、好みのネイルデザインを探すことができます。</br>
        会員登録をするとネイルデザインの写真を投稿したり、</br>
        他の投稿をお気に入りとして保存することもできます。</br>
      </p>
    </div>
    <div class="mb-5">
      ネイルをしてみたいけど、自分に似合う色がわからない…</br>
      セルフネイルが上手にできたのでみんなと共有したい！</br>
      流行りのネイルデザインを知りたい！</br>
    </div>
    <p class="lead mx-auto">そんな方にオススメのサイトです。</p>
    <div class="shadow w-50 p-2 mx-auto bg-light text-center">ぜひ、あなたのお気に入りのデザインを見つけて</br>
      ネイルを楽しみましょう！
    </div>
  </section>
</main>