<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 border mx-auto">
        <h1 class="fw-light">Nail Art Match</h1>
        <p class="lead text-muted">
          ようこそ、Nail Art Matchへ！</br>
          このサイトでは、さまざまなネイルデザインを<br>
          閲覧することができます。</p>
      </div>
    </div>
  </section>
  <%= render 'post_images/list', post_images: @post_images %>
</main>